{{- define "title"}}
    Klienten
{{end}}

{{define "body"}}
    {{template "navigation.gohtml" "Clients"}}
    {{template "clientForm.gohtml" .}}
    {{template "clientTable.gohtml" .}}
{{end}}

<!--TODO add ability to modify user-->
<!--TODO add ability to remove user-->
<!--TODO see history of send emails-->